input, div {
    margin-top: 5px;
}
.ui-autocomplete {
    z-index: 99999;
}
th, td{
    text-align: center;
}
.resizer {
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: auto;
  width: 16px;    
  cursor: col-resize;       
}

.list-group-item{
    padding: 0;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-color:black;
    border-width:1px;
    border-style:solid;
    display: inline-block;
}

.crm-view{
    display:flex;
    height:80%;
    width:100%;
}

.side-menu{
    width:17%;
    min-width:160px;
    margin:20px;
    height:100%;
    background-color:white;
    overflow-y:auto;
}

thead{
    background-color:white;
}
.table-container{
    margin:20px;
    height:100%;
    width:100%;
    overflow-y:auto;
}

.table{
    background-color:white;
}

body{
    background-color:rgb(235, 235, 235);
}

.side-menu-row{
    margin-top:20px;
}

.header{
    padding:20px;
    background-color:white;
}

.full-width{
    width:100%;
}

.full-width button{
    margin-top:5px;
    margin-bottom:5px;
}

textarea{
    margin-top: 5px;
}

.icon{
    width:40px;
    height:40px;
    margin:1px;
}

.side-menu-section{
    margin-bottom:30px;
}

.item-id{
    position:absolute;
    bottom:10;
}

ul .list-group-item{
    border:0;
}

/* 2.25rem + 4px hardcoded from boostrap v4 */
textarea{
    height:calc(2* (2.25rem + 4px)) !important;
}