input, div {
    margin-top: 5px;
}
.ui-autocomplete {
    z-index: 99999;
}
th, td{
    text-align: center;
}
.resizer {
  position: absolute;
  top: 0;
  right: -8px;
  bottom: 0;
  left: auto;
  width: 16px;    
  cursor: col-resize;       
}

.list-group-item{
    padding: 0;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-color:black;
    border-width:1px;
    border-style:solid;
    display: inline-block;
}

.crm-view{
    display:flex;
    height:80%;
    width:100%;
}

.side-menu{
    width:15%;
    margin:20px;
    height:100%;
    background-color:white;
    overflow:auto;
}

.view-content{
    margin:20px;
    height:100%;
    background-color:white;
    overflow:auto;
}

body{
    background-color:rgb(235, 235, 235);
}

.side-menu-row{
    margin-top:15px;
}

.header{
    padding:20px;
    background-color:white;
}