<crmTable>
    <div style="background-color:#f4f4f4;">
        <div class="container-full header">
            <div class="row">
                <div class="col">
                     <b>Last updated:</b>
                     <br>
                      {getLastModified()}
                </div>
                <div class="col">
                    <b>Viewing:</b>
                    <br>
                    <button class="btn {btn-primary: globalView=='CRM'}" onClick="{()=> changeView('CRM')}">CRM</button>
                    <button class="btn {btn-primary: globalView=='Overview'}" onClick="{()=> changeView('Overview')}">Overview</button>
                    <button class="btn {btn-primary: globalView=='Archive'}" onClick="{()=> changeView('Archive')}">Archive</button>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
        </div>
    </div>
    <div class="crm-view" if="{globalView == 'CRM'}">
        <div class="side-menu">
            <div class="container">
                <div class="side-menu-row">
                    <h4>Filter By</h4>
                </div>
                <div class="side-menu-row">
                    Project tag: <input class="form-control" ref="tags" id="tagFilter" placeholder="Tag Name" />
                </div>
                <div class="side-menu-row">
                    Project Manager: <input class="form-control" ref="projectManager" id="projectManagerFilter" placeholder="Project Manager" />
                </div>
                <div class="side-menu-row">
                    Ending Before: <input class="form-control" ref="date" id="deadlineFilter" placeholder="Date">
                </div>
                <div class="side-menu-row">
                    <input type="button" class="btn btn-light" value="Clear filters" onClick="{clearFilter}" />
                </div>
                <div class="side-menu-row">
                    <h4>Hidden rows</h4>
                </div>
                <div class="side-menu-row">
                    <input type="checkbox" id="showHiddenCheckBox" onClick="{() => showHidden()}"> Show Hidden
                </div>
                <div class="side-menu-row">
                    <h4>Add</h4>
                </div>
                <div class="side-menu-row" style="text-align:center">
                    <button type="button" class="btn btn-light" onClick="{addEntry}">Add entry</button>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addEntriesModal">Add
                        multiple
                        entries
                    </button>
                </div>
                <div class="side-menu-row">
                    <span>Show only vendors needing follow up</span>
                    <input type="checkbox" onClick={filterFollowUp} />
                </div>
            </div>
        </div>
        <div class="table view-content">
            <table class="full-width">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Project Tag</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Most recent call</th>
                        <th scope="col">Needs Follow Up</th>
                        <th scope="col">Status</th>
                        <th scope="col">Previous calls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr each={ item in globalInfo.items } if={item.visible && (!item.hidden || opts.showHidden)}>
                        <td style="text-align: center">
                            {item.id}<br>
                             <input type="button" class="btn btn-success btn-block" value="Unhide" onclick="{()=> setHiddenStatus(item, false)}"  if={item.hidden}/>
                            <input type="button" class="btn btn-primary btn-block" value="Hide" onclick="{()=> setHiddenStatus(item, true)}"  if={!item.hidden}/><br>
                            <input type="button" class="btn btn-outline-danger btn-block" value="Delete" onclick="{()=> deleteItem(item)}" /></td>
                        <td>
                            <tagInput  item={item} />
                            <br>
                            <span class="dot" style="background-color:gray;width:25px;height:25px;" if="{item.status.reviewing=='on'}"></span>
                            <span class="dot" style="background-color:yellow;width:25px;height:25px;" if="{item.status.intendsToBid=='on'}"></span>
                            <span class="dot" style="background-color:green;width:25px;height:25px;" if="{item.status.bidded=='on'}"></span>
                            <span class="dot" style="background-color:red;width:25px;height:25px;" if="{item.status.notBidding=='on'}"></span>
                        </td>
                        <td style="width:300">
                            <input class="form-control" onChange="{updateValue(item.vendor, 'name')}" ref="vendorName"
                                placeholder="Vendor Name" value={item.vendor.name} />
                            <input class="form-control" onChange="{updateValue(item.vendor, 'phone')}" ref="vendorPhone"
                                placeholder="Phone number" value={item.vendor.phone} />
                            <input class="form-control" onChange="{updateValue(item.vendor, 'contactName')}" placeholder="Contact Name"
                                value={item.vendor.contactName} />
                            <input class="form-control" onChange="{updateValue(item.vendor, 'email')}" placeholder="Email"
                                value={item.vendor.email} />
                            <button class="btn {btn-success: item.vendor.name.replace(/\s/g,'') != '' && item.vendor.email.replace(/\s/g,'') != '' && item.vendor.contactName.replace(/\s/g,'') != '' && item.tags.length != undefined } full-width" onClick="{() => onboardUser(item)}">Onboard user</button>
                        </td> 
                        <td style="width:300px">
                            <input class="form-control" onChange="{updateValue(item.calls[item.calls.length - 1], 'date')}" ref="mostRecentCall"
                                placeholder="Date" value={item.calls[item.calls.length - 1].date} />
                            <input class="form-control" onChange="{updateValue(item.calls[item.calls.length - 1], 'time')}"
                                type="time" placeholder="Time" value={item.calls[item.calls.length - 1].time} />
                            <textarea class="form-control" onChange="{updateValue(item.calls[item.calls.length - 1], 'note')}"
                                placeholder="Note" value={item.calls[item.calls.length - 1].note} />
                            <button class="btn btn-secondary full-width" onClick="{() => addCall(item)}">Move to previous call</button>
                        </td>
                        <td>
                            <center>
                                <input onClick="{updateValue(item, 'needsFollowUp')}" type="checkbox" checked="{item.needsFollowUp}">
                            </center>
                        </td>
                        <td style="text-align:left;">
                            <div>
                                <input name="{item.id}" onChange="{()=>updateStatus(item, 'reviewing')}" type="radio" checked="{item.status.reviewing}">
                                <b>Reviewing</b>
                                <span class="dot" style="background-color:gray"></span>
                            </div>
                            <div>
                                <input name="{item.id}"  onChange="{()=>updateStatus(item, 'intendsToBid')}" type="radio" checked="{item.status.intendsToBid}">
                                <b>Intends to bid</b>
                                <span class="dot" style="background-color:yellow"></span>
                            </div>
                            <div>
                                <input name="{item.id}"  onChange="{()=>updateStatus(item, 'bidded')}" type="radio" checked="{item.status.bidded}">
                                <b>Bidded</b>
                                <span class="dot" style="background-color:green"></span>
                            </div>
                            <div>
                                <input name="{item.id}"  onChange="{()=>updateStatus(item, 'notBidding')}" type="radio" checked="{item.status.notBidding}">
                                <b>Not bidding</b>
                                <span class="dot" style="background-color:red"></span>
                            </div>
                        </td>
                        <td style="width:300px">
                            <callColumn calls="{item.calls}" />
                        </td>
                        <script>
                            getLastModified(){
                                return lastModified.toLocaleDateString("en-US") + " " + lastModified.toLocaleTimeString();
                            }
                            updateValue(a, b){
                                return function (event, c) {
                                    if (event.target.type == "checkbox") {
                                        a[b] = event.target.checked;
                                    } else {
                                        a[b] = event.target.value.trim();
                                    }
                                    saveItems();
                                }
                                this.update();
                            }

                            updateStatus(item, status){
                                item.status = {}
                                item.status[status] = "on";
                                saveItems();
                                this.update();
                            }

                            onboardUser(item){
                                if(item.vendor.name.replace(/\s/g,"") == "" || item.vendor.email.replace(/\s/g,"") == "" || item.vendor.contactName.replace(/\s/g,"") == "" || item.tags.length == 0){
                                    alert("Be sure to complete vendor name, contact name, email and also be sure you got a tag associated with the project");
                                    return;
                                }
                                var data = {
                                    email: item.vendor.email,
                                    projects: getTag(item.tag),
                                    full_name: item.vendor.contactName,
                                    company_name: item.vendor.name,
                                    phone: item.vendor.phone,
                                }

                                $.get("https://188.24.227.230/wp-json/crm/add-user", data, (result) =>{
                                    alert(result);
                                });
                            }
                            addCall(item){
                                item.calls.push({ date: "", time: "", note: "" });
                                this.update();
                                saveItems();
                            }
                            setHiddenStatus(item, value){
                                item.hidden = value;
                                saveItems();
                                this.update();
                            }

                            showHidden(){
                               opts.showHidden = $("#showHiddenCheckBox").prop('checked');
                               this.update();
                            }

                            deleteItem(item){
                                var index = globalInfo.items.findIndex(x => x.id == item.id);
                                if (index != -1) {
                                    globalInfo.items.splice(index, 1);
                                }
                                saveItems();
                            }

                            selectedTags = [];

                            filter(by) {
                                globalInfo.items.forEach(e => {
                                    e.visible = true;
                                });
                                if (by == "tag") {
                                    var tag = $("#tagFilter").val();
                                    if (tag != "") {
                                        globalInfo.items.forEach(el => {
                                            var globalTag = getTag(el.tag);
                                            if (globalTag != undefined && globalTag.name == tag)
                                                el.visible = true;
                                            else
                                                el.visible = false;
                                        })
                                    }
                                } else if (by == "deadline") {
                                    var deadline = $("#deadlineFilter").val();
                                    globalInfo.items.forEach(el => {
                                        if (new Date(getTag(el.tag).deadline).getTime() <= new Date(deadline).getTime())
                                            el.visible = true;
                                        else
                                            el.visible = false;
                                    })
                                } else if(by == "projectManager"){
                                    var projectManager = $("#projectManagerFilter").val();
                                    if(projectManager!= "")
                                        globalInfo.items.forEach(el => {
                                                var globalTag = getTag(el.tag);
                                                if (globalTag != undefined && getTag(el.tag).projectManager == projectManager)
                                                    el.visible = true;
                                                else
                                                    el.visible = false;
                                        })
                                }

                                this.update();
                            }

                            clearFilter(){
                                globalInfo.items.forEach(element => {
                                    element.visible = true;
                                });
                                $(this.refs.date).val("");
                                $(this.refs.tags).val("");
                                $(this.refs.projectManager).val("");
                                this.update();
                            }

                            filterFollowUp(e){
                                this.clearFilter();
                                globalInfo.items.forEach(item => {
                                    if (e.target.checked == true && item.needsFollowUp == true)
                                        item.visible = true;
                                    else if (e.target.checked == true && item.needsFollowUp == false)
                                        item.visible = false;
                                    else
                                        item.visible = true;
                                });

                                this.update;
                            }
                            addEntry(){
                                var defaultItem = {
                                    id: getLastId(),
                                    tags: [],
                                    deadline: "",
                                    vendor: {
                                        name: "",
                                        phone: "",
                                        contactName: "",
                                        email: ""
                                    },
                                    needsFollowUp: false,
                                    status: {},
                                    calls: [
                                        { date: "", time: "", note: "" },
                                    ],
                                    note: "",
                                    visible: true
                                };

                                if (JSON.stringify(globalInfo.items[globalInfo.items.length - 1]) === JSON.stringify(defaultItem)) return;
                                else defaultItem.id++;
                                globalInfo.items.push(defaultItem);
                                saveItems();
                                this.update();
                            }
                            this.on("mount", () => {
                                $(this.refs.tags).on('keyup', (e) => this.filter('tag'));
                                $(this.refs.date).on('change', (e) => this.filter('deadline'));
                                $(this.refs.projectManager).on('change', (e) => this.filter('projectManager'));

                                $(this.refs.mostRecentCall).datepicker({
                                    onSelect: function (data) {
                                        $(this).get(0).dispatchEvent(new Event('change'));
                                    }
                                });


                                $(this.refs.tags).autocomplete({
                                    source: mapTagsProperty('name'),
                                    minLength: 0,
                                    select: function (a, b) {
                                        $(this).val(b.item.value);
                                        $(this).keyup();
                                    }
                                }).focus(function () {
                                    $(this).change();
                                    $(this).autocomplete('search', $(this).val())
                                });

                                $(this.refs.projectManager).autocomplete({
                                    source: mapTagsProperty('projectManager'),
                                    minLength: 0,
                                    select: function (a, b) {
                                        $(this).val(b.item.value);
                                        $(this).change();
                                    }
                                }).focus(function () {
                                    $(this).change();
                                    $(this).autocomplete('search', $(this).val())
                                });

                                $(this.refs.date).datepicker({
                                    onSelect: function (data) {
                                        $(this).val(data);
                                        $(this).change();
                                    }
                                });

                                $(this.refs.mostRecentCall).datepicker({
                                    onSelect: function (data) {
                                        $(this).get(0).dispatchEvent(new Event('change'));
                                    }
                                });
                                $("td:nth-child(2),td:nth-child(3), td:nth-child(4)")
                                    .css({
                                        position: "relative"
                                    })
                                    .prepend("<div class='resizer'></div>")
                                    .resizable({
                                        resizeHeight: false,
                                        handleSelector: "",
                                        onDragStart: function (e, $el, opt) {
                                            if (!$(e.target).hasClass("resizer"))
                                                return false;
                                            return true;
                                        }
                                    });
                            })
                            this.on("update", () => {
                                $(this.refs.tags).autocomplete({
                                    source: mapTagsProperty('name')
                                });

                                $(this.refs.projectManager).autocomplete({
                                    source: mapTagsProperty('projectManager')
                                });

                                $(this.refs.mostRecentCall).datepicker({
                                    onSelect: function (data) {
                                        $(this).get(0).dispatchEvent(new Event('change'));
                                    }
                                });

                                $(this.refs.mostRecentCall).datepicker({
                                    onSelect: function (data) {
                                        $(this).get(0).dispatchEvent(new Event('change'));
                                    }
                                });
                                $("td:nth-child(2),td:nth-child(3), td:nth-child(4)")
                                    .css({
                                        position: "relative"
                                    })
                                    .prepend("<div class='resizer'></div>")
                                    .resizable({
                                        resizeHeight: false,
                                        handleSelector: "",
                                        onDragStart: function (e, $el, opt) {
                                            if (!$(e.target).hasClass("resizer"))
                                                return false;
                                            return true;
                                        }
                                    });
                            })
                            tick() {
                                $.post("utils.php", { requestType: "lastModified", token: new Date().getTime() }, (data) => {
                                    modifiedDate = new Date(data);
                                    if (lastModified == undefined || !(modifiedDate.getTime() === lastModified.getTime())) {
                                        $.post("utils.php", { requestType: "read", file: "records.json", token: new Date().getTime() }, (data) => {
                                            updatedInfo = JSON.parse(data);
                                            globalInfo.tags = updatedInfo.tags;
                                            if(globalInfo.items.length == 0) updatedInfo.items.forEach(x=> x.visible = true);
                                            updatedItems = updatedInfo.items;
                                            var items = globalInfo.items;
                                            for (var i = 0; i < updatedItems.length; i++) {
                                                if (i >= items.length) {
                                                    items.push(updatedItems[i]);
                                                } else {
                                                    while (updatedItems[i].id != items[i].id) {
                                                        items.splice(i, 1);
                                                    }
                                                    var visibility = items[i].visible;
                                                    Object.keys(items[i]).forEach(function (key) {
                                                        items[i][key] = updatedItems[i][key];
                                                    });
                                                    items[i].visible = visibility;
                                                }
                                            }
                                            console.log("Received changes")
                                            this.update();

                                            //Dirty trick to trigger datepicker after rendering of page
                                            $(this.refs.mostRecentCall).datepicker({
                                                onSelect: function (data) {
                                                    $(this).get(0).dispatchEvent(new Event('change'));
                                                }
                                            });
                                            $("td:nth-child(2),td:nth-child(3), td:nth-child(4)")
                                                .css({
                                                    position: "relative"
                                                })
                                                .prepend("<div class='resizer'></div>")
                                                .resizable({
                                                    resizeHeight: false,
                                                    handleSelector: "",
                                                    onDragStart: function (e, $el, opt) {
                                                        if (!$(e.target).hasClass("resizer"))
                                                            return false;
                                                        return true;
                                                    }
                                                });
                                        });
                                        lastModified = modifiedDate;
                                    }
                                });

                            }
                            var timer = setInterval(this.tick, 100);

                            changeView(selectedView){
                                globalView = selectedView;
                                this.loadView();
                            }

                            loadView(){
                                switch (globalView) {
                                    case "CRM":
                                    case "Overview":
                                        this.clearFilter();
                                        break;
                                    case "Archive":
                                        this.loadArchive(this.update);
                                        break;
                                }
                            }
                            //TO DO update as paramater is tricky.. this should work without it
                            loadArchive(update) {
                                $.post("utils.php", { requestType: "read", file: "archive.json", token: new Date().getTime() }, function (data) {
                                    archiveInfo = JSON.parse(data);
                                    update();
                                });
                            }
                        </script>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="table" if="{globalView == 'Overview'}">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">Project Tag</th>
                <th scope="col">Bids</th>
                <th scope="col">Intending to bid</th>
            </tr>
        </thead>
        <tbody>
            <tr each={tag, key in globalInfo.tags} if="{!tag.archived}">
                <td style="width:150px;">
                    <button type="button" class="btn btn-dark" onclick="{()=>archiveTag(key)}">Archive</button>
                </td>
                <td>
                    <a href="{tag.href}">{tag.name}</a>|
                    <span>{tag.deadline}</span><br>
                    <span>Project Manager:{tag.projectManager}</span>
                </td>
                <td>
                    <a>{countBids(tag)}</a>
                    <ul class="list-group list-group-flush" style="max-height: 150px; overflow-y: scroll;">
                        <li class="list-group-item" each={vendor in getBids(tag)}>
                            <input class="form-control" value="{vendor.name}" readonly>
                        </li>
                    </ul>
                </td>
                <td>
                    <a>{countIntentions(tag)}</a>

                    <ul class="list-group list-group-flush" style="max-height: 150px; overflow-y: scroll;">
                        <li class="list-group-item" each={vendor in getIntentions(tag)}>
                            <input class="form-control" value="{vendor.name}" readonly>
                        </li>
                    </ul>
                </td>

                <script>
                    countBids(tag){            
                        return globalInfo.items.filter(x => JSON.stringify(getTag(x.tag)) === JSON.stringify(tag) && 'bidded' in x.status).length;
                    }
                    getBids(tag){
                        return globalInfo.items.filter(x => JSON.stringify(getTag(x.tag)) === JSON.stringify(tag) && 'bidded' in x.status).map(x => x.vendor);
                    }
                    countIntentions(tag){
                        return globalInfo.items.filter(x => JSON.stringify(getTag(x.tag)) === JSON.stringify(tag) && 'intendsToBid' in x.status).length;
                    }
                    getIntentions(tag){
                        return globalInfo.items.filter(x => JSON.stringify(getTag(x.tag)) === JSON.stringify(tag) && 'intendsToBid' in x.status).map(x => x.vendor);
                    }

                    archiveTag(tag){
                        var tagName = globalInfo.tags[tag].name;
                        var answer = confirm(`Are you sure that you want to archive ${tagName} ?`)
                        if (!answer) return;

                        globalInfo.tags[tag].archived = true;

                        var archivedObjectPreview = {};
                        archivedObjectPreview["tag"] = globalInfo.tags[tag];
                        var archivedItems = { items: globalInfo.items.filter(x => x.tag == tag) }
                        archivedItems.tag = globalInfo.tags[tag];

                        var bids = archivedItems.items.filter(x => "bidded" in x.status).map(x => x.vendor.name);
                        var intendsToBid = archivedItems.items.filter(x => "intendsToBid" in x.status).map(x => x.vendor.name);
                        var archivedOn = new Date().toLocaleDateString("en-US");

                        archivedObjectPreview["id"] = tag;
                        if (bids != undefined)
                            archivedObjectPreview["bids"] = bids;
                        else
                            archivedObjectPreview["bids"] = []
                        if (intendsToBid != undefined)
                            archivedObjectPreview["intendsToBid"] = intendsToBid;
                        else
                            archivedObjectPreview["intendsToBid"] = [];
                        archivedObjectPreview["archivedOn"] = archivedOn;

                        var itemsToBeRemoved = [];

                        for (var i = 0; i < globalInfo.items.length; i++) {
                            var currentItem = globalInfo.items[i];
                            if (currentItem.tag != tag) continue;
                            itemsToBeRemoved.push(i);
                        }
  
                        delete globalInfo.tags[tag];
                        itemsToBeRemoved.sort().reverse();

                        console.log(itemsToBeRemoved);
                        itemsToBeRemoved.forEach(e => {
                            globalInfo.items.splice(e, 1);
                        });

                        $.post("utils.php", { requestType: "archiveTag", previewTag: archivedObjectPreview, items: archivedItems, id: tag },
                            (data) => {
                                console.log(data);
                            });

                        saveItems();
                        this.update();
                        console.log(archivedObjectPreview);
                    }
                </script>
            </tr>
        </tbody>


    </table>

    <table class="table" if="{globalView == 'Archive'}">
            <thead>
                    <tr>
                        <th scope="col">Action</th>
                        <th scope="col">Project Tag</th>
                        <th scope="col">Bids</th>
                        <th scope="col">Intending to bid</th>
                        <th scope="col">Archived on</th>
                    </tr>
                </thead>
                <tbody>
                    <tr each={info in archiveInfo}>
                        <td>
                            <button type="button" class="btn btn-dark" onClick="{()=> viewCalls(info.id)}">View all calls</button>
                        </td>
                        <td>
                            <a href="{tag.href}">{info.tag.name}</a>|
                            <span>{info.tag.deadline}</span><br>
                            <span>Project Manager:{info.tag.projectManager}</span>
                        </td>
                        <td>
                            <center>{info.bids.length}</center>
                            <ul class="list-group list-group-flush" style="max-height: 150px; overflow-y: scroll;">
                                <li class="list-group-item" each={val in info.bids}>
                                    <input class="form-control" value="{val}" readonly>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <center>{info.intendsToBid.length}</center>
                            <ul class="list-group list-group-flush" style="max-height: 150px; overflow-y: scroll;">
                                <li class="list-group-item" each={val in info.intendsToBid}>
                                    <input class="form-control" value="{val}" readonly>
                                </li>
                            </ul>
                        </td>
                        <td>{info.archivedOn}</td>
                    </tr>
                    <script>
                        viewCalls(id){
                            globalView = "ArchivedTag";
                            var updateFunction = this.update;
                            $.post("utils.php", { requestType: "read", file: `archive\\${id}.json`, token: new Date().getTime() }, function (data) {
                                archivedTag = JSON.parse(data);
                                updateFunction();
                            });
                        }
                    </script>
                </tbody>
    </table>
    <div if="{globalView == 'ArchivedTag'}">
        <button type="button" onclick="{()=>changeView('Archive')}" class="btn btn-primary">&lt;-Back to Archive List</button>
        <table class="table" >
                <thead>
                        <tr>
                            <th scope="col">Project Tag</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Most Recent Call</th>
                            <th scope="col">Status</th>
                            <th scope="col">Previous Calls</th>
                        </tr>
                    </thead>
                    <tbody>    
                        <tr each={item in archivedTag.items}>
                            <td>
                                <a href={archivedTag.tag.href}>{archivedTag.tag.name}</a>
                                <a>|{archivedTag.tag.deadline}</a>
                            </td>
                            <td>
                                <input class="form-control" value={item.vendor.name} readonly>
                                <input class="form-control" value={item.vendor.phone} readonly>
                                <input class="form-control" value={item.vendor.contactName} readonly>
                                <input class="form-control" value={item.vendor.email} readonly>
                            </td>
                            <td>
                                <input class="form-control" value={item.calls[item.calls.length - 1].date} disabled/>
                                <input class="form-control" value={item.calls[item.calls.length - 1].time} disabled/>
                                <input class="form-control" value={item.calls[item.calls.length - 1].note} disabled/>
                            </td>
                            <td>
                                <div>
                                    <input name="archivedTagStatus {item.id}"  type="radio" checked="{item.status.reviewing}" disabled>
                                    <b>Reviewing</b>
                                    <span class="dot" style="background-color:gray"></span>
                                </div>
                                <div>
                                    <input name="archivedTagStatus {item.id}"  type="radio" checked="{item.status.intendsToBid}" disabled>
                                    <b>Intends to bid</b>
                                    <span class="dot" style="background-color:yellow"></span>
                                </div>
                                <div>
                                    <input name="archivedTagStatus {item.id}" type="radio" checked="{item.status.bidded}" disabled>
                                    <b>Bidded</b>
                                    <span class="dot" style="background-color:green"></span>
                                </div>
                                <div>
                                    <input name="archivedTagStatus {item.id}"  type="radio" checked="{item.status.notBidding}" disabled>
                                    <b>Not bidding</b>
                                    <span class="dot" style="background-color:red"></span>
                                </div>
                            </td>
                            <td style="width:300px">
                                <ul class="list-group list-group-flush" style="max-height: 150px; overflow-y: scroll;">
                                    <li class="list-group-item" each={call, index in item.calls}>
                                        <div if={index !=item.calls.length-1}>
                                            <input class="form-control" value="{call.date}" disabled/>
                                            <input class="form-control" value="{call.time}" disabled/>
                                            <textarea class="form-control" value="{call.note}" disabled/>  
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
        </table>
    </div>
    <div class="modal" id="addEntriesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add multiple entries</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Fields:
                    <select id="fields">
                        <option value="vendor.name">Vendor Name</option>
                        <option value="vendor.phone">Vendor Phone Number</option>
                        <option value="vendor.contactName">Vendor Contact Name</option>
                        <option value="vendor.email">Vendor Email</option>
                        <option value="call0.date">Call0 Date</option>
                        <option value="call0.time">Call0 Time</option>
                        <option value="call0.note">Call0 Note</option>
                        <option value="note">Note</option>
                    </select>
                    <input type="button" value="Add" onClick="{addField}" />
                    <ul>
                        <li each={field in this.selectedEntryFields}>
                            {field}
                            <input type="button" class="btn btn-light" value="X" onClick="{()=> removeField(field)}" />
                        </li>
                    </ul>
                    Values:
                    <textarea class="form-control full-width" id="inputFields"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="{import}">Add</button>
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div id="addTagModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input id="addTagModalName" class="form-control" placeholder="Project Name">
                                    <input id="addTagModalDeadline" class="form-control" placeholder="Deadline">
                                    <input id="addTagModalHref" class="form-control" placeholder="HREF">
                                    <input id="addTagModalProjectManager" class="form-control" placeholder="Project Manager">
                                </div>
                                <div class="modal-footer">
                                    <button id="submit" type="button" class="btn btn-primary" onClick={createTag}>Create</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="editTagModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input id="editTagModalName" class="form-control" placeholder="Project Name">
                                    <input id="editTagModalDeadline" class="form-control" placeholder="Deadline">
                                    <input id="editTagModalHref" class="form-control" placeholder="HREF">
                                    <input id="editTagModalProjectManager" class="form-control" placeholder="Project Manager">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger mr-auto" onclick="{deleteTag}">Delete</button>
                                    <button id="submit" type="button" data-dismiss="modal" class="btn btn-primary"
                                        onClick={editTag}>Edit</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        this.selectedEntryFields = [];

                        addField(){
                            var selectedField = $("#fields").val();
                            if (this.selectedEntryFields.indexOf(selectedField) == -1)
                                this.selectedEntryFields.push(selectedField);
                        }

                        removeField(field){
                            this.selectedEntryFields.pop(field);
                            this.update();
                        }

                        import(){
                            var input = $("#inputFields").val();
                            input = input.split("\n").map(i => i.trim("	 ").split("\t")).filter(i => i.length != 0 || i.every(e => e == ""));

                            input.forEach(e => {
                                var defaultItem = {
                                    id: getLastId() + 1,
                                    tags: [],
                                    deadline: "",
                                    vendor: {
                                        name: "",
                                        phone: "",
                                        contactName: "",
                                        email: ""
                                    },
                                    call0: {
                                        date: "",
                                        time: "",
                                        note: ""
                                    },
                                    bidded: false,
                                    intendsToBid: false,
                                    needsFollowUp: false,
                                    calls: [
                                        { date: "", time: "", note: "" },
                                    ],
                                    note: "",
                                    visible: true
                                };
                                for (var i = 0; i < this.selectedEntryFields.length; i++) {
                                    var p = this.selectedEntryFields[i].split(".")[0];
                                    var p2 = this.selectedEntryFields[i].split(".")[1];
                                    defaultItem[p][p2] = e[i];
                                }
                                defaultItem.id = getLastId() + 1;
                                globalInfo.items.push(defaultItem);

                            });
                            saveItems();
                            this.update();
                        }
                        createTag(){
                            var id = new Date().getTime().toString();
                            var name = $("#addTagModalName").val();
                            var deadline = $("#addTagModalDeadline").val();
                            var href = $("#addTagModalHref").val();
                            var projectManager = $("#addTagModalProjectManager").val();

                            var archived = false;
                            if (href.indexOf("http://") != 0) href = "http://" + href;

                            if (getTagWithName(name) != undefined) {
                                alert(`Tag with name ${name} already exists`);
                                return;
                            }

                            globalInfo.tags[id] = { name: name, deadline: deadline, href: href, projectManager: projectManager, archived: archived };
                            var item = globalInfo.items.find(x => x.id == currentUsedItem);
                            item.tag = id;
                            
                            $('#addTagModal').modal('toggle');

                            saveItems();
                            this.update();
                        }
                        editTag(){
                            var name = $("#editTagModalName").val();
                            var deadline = $("#editTagModalDeadline").val();
                            var href = $("#editTagModalHref").val();
                            var projectManager = $("#editTagModalProjectManager").val();
                            globalInfo.tags[currentUsedItem] = { name: name, deadline: deadline, href: href, projectManager: projectManager };
                            saveItems();
                            this.update();
                        }

                        deleteTag(){
                            var answer = confirm("Are you sure you want to delete this?");
                            if (answer) {
                                $('#editTagModal').modal('toggle');
                                globalInfo.items.forEach(e => {
                                    var tagIndex = e.tags.findIndex(x => x == currentUsedItem);
                                    if (tagIndex >= 0)
                                        e.tags.splice(tagIndex, 1);
                                });
                            }
                            saveItems();
                        }
                    </script>
</crmTable>

<tagInput>
    <div class="dropdown" style="text-align:center" if={opts.item.tag  == undefined}>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Add tag
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <a class="dropdown-item" onClick="{createTag}">Create New +</a>
            <a class="dropdown-item" each={tag, key in globalInfo.tags} onclick="{()=> add(key)}" if="{!tag.archived}">{tag.name}</a>
        </div>
    </div>
    <tag val={getTag(opts.item.tag)} index={opts.item.tag} remove={remove} if={opts.item.tag != undefined}/>

    <script>
        add(key){
            opts.item.tag = key;
            saveItems();
            this.update();
        }
        createTag(){
            $("#addTagModalName").val('');
            $("#addTagModalDeadline").datepicker();
            $("#addTagModalDeadline").val('');
            $("#addTagModalHref").val('');
            currentUsedItem = this.opts.item.id;
            $("#addTagModal").modal();
        }

        remove(){
            opts.item.tag = undefined;
            saveItems();
            this.update();
        }

        this.on("mount", () => {
            $(this.refs.inputTagName).autocomplete({
                source: globalInfo.tags
            });

            $(this.refs.inputTagDeadLine).datepicker();
        })

        this.on("update", () => {
            $(this.refs.inputTagName).autocomplete({
                source: globalInfo.tags
            });
            $(this.refs.inputTagDeadLine).datepicker();
        })
    </script>
</tagInput>

<tag>
    <button class="btn btn-light" onclick="{editTag}" if={!opts.val.archived}><i class="far fa-edit"></i></button>
    <input class="btn btn-light" type="button" value="X" onClick={opts.remove} />
    <a href="{opts.val.href}">{opts.val.name}</a>|
    <span>{opts.val.deadline}</span><br>
    <span>Project Manager:{opts.val.projectManager}</span>

    <script>
        editTag(){
            $("#editTagModalName").val(opts.val.name);
            $("#editTagModalDeadline").datepicker();
            $('#editTagModalDeadline').datepicker("setDate", new Date(opts.val.deadline));
            $("#editTagModalHref").val(opts.val.href);
            $("#editTagModalProjectManager").val(opts.val.projectManager);
            currentUsedItem = opts.index;
            $("#editTagModal").modal();
        }
    </script>
</tag>

<callColumn>
    <ul class="list-group list-group-flush" style="max-height: 150px; overflow-y: scroll;">
        <li class="list-group-item" each={call, index in opts.calls}>
            <call val="{call}" if={index !=opts.calls.length-1} remove="{()=>remove(call)}" />
        </li>
    </ul>

    <script>
        remove(call){
            var index = opts.calls.findIndex(x => x.date == call.date && x.time == call.time && x.note == call.note);
            if (index > -1)
                opts.calls.splice(index, 1);
            this.update();
            saveItems();
        }
    </script>
</callColumn>

<call>
    <input class="form-control" onChange="{updateValue(opts.val, 'date')}" ref="date" placeholder="Date" value="{this.opts.val.date}" />
    <input class="form-control" onChange="{updateValue(opts.val, 'time')}" type="time" placeholder="Time" value="{this.opts.val.time}" />
    <textarea class="form-control" onChange="{updateValue(opts.val, 'note')}" placeholder="Note" value="{this.opts.val.note}" />
    <input type="button" class="btn btn-danger" value="Delete Call" onclick="{opts.remove}" />
    <script>
        this.on('mount', function () {
            $(this.refs.date).datepicker({
                onSelect: function (data) {
                    $(this).get(0).dispatchEvent(new Event('change'));
                }
            });
        });

        updateValue(a, b){
            return function (event, c) {
                a[b] = event.target.value.trim();
                this.update();
                saveItems();
            }
        }
    </script>
</call>