<crmTable>
    <div style="background-color:#f4f4f4;">
        <div class="container-full header">
            <div class="row">
                <div class="col-xs-2">
                     <b>Last updated:</b>
                     <br>
                      {getLastModified()}
                </div>
                <div class="col m-auto">
                    <b>Viewing:</b>
                    <br>
                    
                    <menuButton each={view in ["CRM", "Overview", "Archive", "Managers"]} view={view} />
                </div>
        </div>
    </div>
    
    <crmView if="{globalView == 'CRM'}" />
    <overviewView if="{globalView == 'Overview'}" />
    <archiveView if="{globalView == 'Archive'}" />
    <archivedTagView if="{globalView == 'ArchivedTag'}" />
    <managersView managers="{globalInfo.managers}" if="{globalView == 'Managers'}" />

    <script>
        this.selectedEntryFields = [];

        addField(){
            var selectedField = $("#fields").val();
            if (this.selectedEntryFields.indexOf(selectedField) == -1)
                this.selectedEntryFields.push(selectedField);
        }

        removeField(field){
            this.selectedEntryFields.pop(field);
            this.update();
        }

        import(){
            var input = $("#inputFields").val();
            input = input.split("\n").map(i => i.trim("	 ").split("\t")).filter(i => i.length != 0 || i.every(e => e == ""));

            input.forEach(e => {
                var defaultItem = {
                    id: getLastId() + 1,
                    tags: [],
                    deadline: "",
                    vendor: {
                        name: "",
                        phone: "",
                        contactName: "",
                        email: ""
                    },
                    call0: {
                        date: "",
                        time: "",
                        note: ""
                    },
                    bidded: false,
                    intendsToBid: false,
                    needsFollowUp: false,
                    calls: [
                        { date: "", time: "", note: "" },
                    ],
                    note: "",
                    visible: true
                };
                for (var i = 0; i < this.selectedEntryFields.length; i++) {
                    var p = this.selectedEntryFields[i].split(".")[0];
                    var p2 = this.selectedEntryFields[i].split(".")[1];
                    defaultItem[p][p2] = e[i];
                }
                defaultItem.id = getLastId() + 1;
                globalInfo.items.push(defaultItem);

            });
            saveItems();
            this.update();
        }

        this.on("mount", () => {   
            globalUpdate = this.update;
        });
    </script>


    <div id="importTagModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import tag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="importTagModalProjectUrl" class="form-control" placeholder="Project href">
                </div>
                <div class="modal-footer">
                    <button id="submit" type="button" class="btn btn-primary" data-dismiss="modal" onClick="importTag($('#importTagModalProjectUrl').val())">Import</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</crmTable>

<tagInput>
    <div class="dropdown" style="text-align:center" if={opts.item.tag  == undefined}>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Add tag
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <a class="dropdown-item" onClick="{importTag}">Import tag +</a>
            <a class="dropdown-item" each={tag in tagCache} onclick="{()=> add(tag)}" if="{!tag.archived}">{tag.name}</a>
        </div>
    </div>
    <tag val={getTag(opts.item.tag)} index={opts.item.tag} remove={remove} if={opts.item.tag != undefined}/>

    <script>
        add(tag){
            var emailDescription = tag.emailDescription;
            if(emailDescription == undefined || emailDescription.length < 3){
                alert("You cannot add this project tag until you create an email description for the project in the Overview screen.");
                return;
            }
            opts.item.tag = tag.id;
            saveItems();
            this.update();
        }
        importTag(){
            $("#importTagModal").modal();
        }

        remove(){
            opts.item.tag = undefined;
            saveItems();
            this.update();
        }

        this.on("mount", () => {
            $(this.refs.inputTagName).autocomplete({
                source: globalInfo.tags
            });

            $(this.refs.inputTagDeadLine).datepicker();
        })

        this.on("update", () => {
            $(this.refs.inputTagName).autocomplete({
                source: globalInfo.tags
            });
            $(this.refs.inputTagDeadLine).datepicker();
        })
    </script>
</tagInput>

<tag>
    <button class="btn btn-outline-danger icon" type="button" onClick={opts.remove} >X</button>
    <br>
    <a href="{opts.val.href}">{opts.val.name}</a>|
    <span>{opts.val.deadline}|</span>
    <p>Project Manager: {getProjectManager(opts.val.projectManager).name}</p>
</tag>

<callColumn>
    <ul class="list-group list-group-flush" style="max-height: 215px; overflow-y: auto;">
        <li class="list-group-item" each={call, index in opts.calls.slice().reverse()}>
            <call val="{call}" if={index != 0} remove="{()=>remove(call)}" />
        </li>
    </ul>

    <script>
        remove(call){
            var index = opts.calls.findIndex(x => x.date == call.date && x.time == call.time && x.note == call.note);
            if (index > -1)
                opts.calls.splice(index, 1);
            this.update();
            saveItems();
        }
    </script>
</callColumn>

<call>
    <input class="form-control" onChange="{updateValue(opts.val, 'date')}" ref="date" placeholder="Date" value="{this.opts.val.date}" />
    <input class="form-control" onChange="{updateValue(opts.val, 'time')}" type="time" placeholder="Time" value="{this.opts.val.time}" />
    <textarea class="form-control" onChange="{updateValue(opts.val, 'note')}" placeholder="Note" value="{this.opts.val.note}" />
    <input type="button" class="btn btn-danger" value="Delete Call" onclick="{opts.remove}" />
    <script>
        this.on('mount', function () {
            $(this.refs.date).datepicker({
                onSelect: function (data) {
                    $(this).get(0).dispatchEvent(new Event('change'));
                }
            });
        });
    </script>
</call>

<menuButton>
    <button class="btn {btn-primary: globalView==this.opts.view}" style="margin-right:10" onClick="{()=> changeView(this.opts.view)}">{this.opts.view}</button>
</menuButton>

